:root {
	--primary-color: #293264;
	--secondary-color: #4d5b9e;
	--white-color: #f5f7fb;
	--success-color: #94d7a2;
	--danger-color: #f8bcbc;
	--btn-primary-color: #d6dbf5;
	--btn-border-primary: #4d5b9e;
	--border-color: #dbdef0;
}
.text-primary {
	color: var(--primary-color);
	font-size: 1rem;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Karla", sans-serif !important;
	font-size: 1rem;
	background: var(--white-color);
	color: var(--primary-color);
	overflow-x: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 85%;
	/* padding: 0 1rem; */
}
.splash-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.splash-title {
	font-size: 2rem;
	font-weight: 700;
	color: var(--primary-color);
}
.splash-subtitle {
	padding-top: 7px;
}

.btn {
	font-family: "karla", sans-serif;
	border: none;
	border-radius: 10px;
	text-align: center;
}
.btn:hover {
	cursor: pointer;
}
.btn-primary {
	background: var(--secondary-color);
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 500;
	padding: 10px 40px;
}
.start-btn {
	margin-top: 30px;
	padding: 15px 50px;
	border-radius: 15px;
}
.quiz-container {
	padding-top: 25px;
}
.quiz {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color);
}
.quiz-text {
	font-weight: 700;
}
.quiz-options {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 13px;
	padding-top: 12px;
}
@media screen and (min-width: 450px) {
	.quiz-options {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 850px) {
	.quiz-options {
		grid-template-columns: repeat(4, 1fr);
	}
}

.quiz-btn {
	border-radius: 8px;
	padding: 5px 20px;
	background: var(--white-color);
	color: var(--primary-color);
	font-weight: 500;
	border: 1px solid var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + label {
	background: #d6dbf5;
	border: none;
}
/* .quiz-btn.selected-answer {
} */
.quiz-btn.correct-answer {
	background: var(--success-color);
	border: none;
}
.quiz-btn.wrong-answer {
	background: var(--danger-color);
	border: none;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 25px;
}
.footer-btn {
	padding: 10px 20px;
	font-size: 11px;
	font-weight: 600;
}
